.DS_Store
.idea/
.build/
node_modules*
npm-debug.log
*.iml
coverage-client-unit
coverage-server-unit
coverage-server-func
xunit.xml
test-results.xml
reports/
checkstyle.xml
/docs/
/client-docs/
/server-docs/
/public/components
/test/func/report/*.xml
/test/func/server/*.log
/test/paths.json
phantomjsdriver.log